@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are monitoring your fleet</h1>
    <h4 id="messageCount"></h4>
    <div id="googleMap" style="width:100%;height:600px;"></div>
</div>




